h1{
	color: yellow;
	font-size: 60px;
}


body{
	background: url("https://c4.wallpaperflare.com/wallpaper/500/442/354/outrun-vaporwave-hd-wallpaper-preview.jpg");
	background-repeat: no-repeat;
	background-size: 1710px 800px;
}