th, table{
	color: blue;
	font-size: 30px;
}

h1{
	color: white;
	font-size: 60px;
}

td{
	color: yellow;
	font-size: 20px;
}

body{
	background: url("https://c0.wallpaperflare.com/preview/668/915/814/croatia-zagreb-retrowave-retrofuture.jpg");
	background-repeat: no-repeat;
	background-size: 1710px 800px;
}